// colors
$input: #6e6b7b;
$shadow: #f1f1f1;
$stripe: #2f2f2f;
$neutral: #f8f8f8;
$white: #ffffff;
$gray-100: #dddddd;
$light-gray: #eaeaea;
$white-85p: rgba(255, 255, 255, 0.85);
$deep-green: #14685e;
$scrollbar-color: #2f2f2f43;
// breakpoints

$breakpoints: (
  'xs': 320px,
  'sm': 576px,
  'md': 768px,
  'lg': 1024px,
  'xl': 1280px,
  'xxl': 1440px,
);

// border

$border: 1px solid $light-gray;
