.range-slider {
  margin: 52px 0 79px;
  &__wrap {
    position: relative;
  }
  &__label {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #6e6b7b;
    position: absolute;
    bottom: -32px;

    &[for='a'] {
      left: 0;
    }

    &[for='b'] {
      right: 0;
    }
  }
}
