.product-card {
    position: relative;
    display: flex;
    flex-direction: column;

    .button {
      position: absolute;
      top: 0;
      right: 0;
    }

    &__img {
      position: relative;
      background-color: $shadow;
      margin-bottom: 12px;
      aspect-ratio: 1/1;
      overflow: hidden;
      
      @include max-width('md') {
        height: 143px;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: contain;
      }
    }

    &__title {
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      margin-bottom: 4px;
    }

    &__desc {
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      margin-bottom: 24px;

      @include max-width('md') {
        margin-bottom: 14px;
      }
    }

    // grey text
    &__title span,
    &__desc,
    &__info span:nth-child(2),
    &__price span {
      color: $input;
      opacity: 0.7;
    }

    &__info {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, max-content));
      column-gap: 36px;
      row-gap: 2px;
      margin-bottom: 24px;

      @include max-width('md') {
        display: none;
      }

    }

    &__info-item {
      white-space: nowrap;
      font-size: 12px;
      line-height: 15px;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
    }

    &__price {
      font-weight: 600;
      font-size: 16px;
      line-height: 21px;
      display: flex;
      gap: 18px;

      @include max-width('md') {
        font-size: 12px;
        line-height: 8px;
      }
    }
  }
