.categories-section {
  &__wall {
    row-gap: 24px;
  }

  .card--square {
    position: relative;
    background: rgba(0, 0, 0, 0.42);

    @include max-width('md') {
      aspect-ratio: unset;
      gap: 8px;
      padding: 16px;
    }

    &__img {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: -1;

      @include max-width('md') {
        left: 70%;
        transform: translateX(-70%);
        height: 100%;
        width: auto;
      }

      &.no-img {
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
