.radio {
  display: flex;
  gap: 8px;

  &__wrap {
    width: 18px;
    height: 18px;
    outline: 1.5px solid #d8d6de;
    outline-offset: -1px;
    border-radius: 9999px;
  }

  &__label-text {
    font-size: 14px;
    line-height: 21px;
    color: #6e6b7b;
  }

  input[type='radio'] {
    display: none;

    &:checked + .radio__wrap {
      outline: none;
      background-color: black;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    }
  }
}
