.radio {
  display: flex;
  gap: 8px;

  &__wrap {
    width: 18px;
    height: 18px;
    outline: 1.5px solid #D8D6DE;
    outline-offset: -1px;
    border-radius: 9999px;
  }

  &__label-text {
    font-size: 14px;
    line-height: 21px;
    color: #6E6B7B;
  }

  input[type=radio] {
    display: none;

    &:checked+.radio__wrap {
      outline: none;
      background-color: black;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    }

    &:checked+.radio__view::after {
      // @apply block bg-blue-400 w-2.5 h-2.5 rounded-full;
      // content:'';
    }

    &:disabled:checked+.radio__wrap {
      // @apply bg-neutral-0 border-neutral-40;
    }

    &:disabled+.radio__view::after {
      // @apply block bg-neutral-40;
    }
  }
}