.a-breadcrumbs {
  display: flex;
  align-items: center;

  li {
    cursor: pointer;
  }

  &__item {
    display: flex;
    align-items: center;
    margin-right: 5px;

    &:not(:last-child) {
      color: #6e6b7b;
    }

    &::after {
      content: url('~/assets/svg/icons/arrow-breadcrumbs.svg');
      display: block;
      margin-left: 8px;
    }

    &:last-child {
      pointer-events: none;

      &::after {
        display: none;
      }
    }

    &-icon {
      width: 16px;
    }
  }
}
