// global
// @import './global/_variables.scss';
// @import './global/_mixins.scss';
@import './global/_grid.scss';
@import './global/_fonts.scss';
@import './global/_utils.scss';
@import './global/_typo.scss';
@import './global/_layouts.scss';
@import './global/_animations.scss';

@import './components/buttons.scss';
// @import './components/breadcrumbs.scss';
@import './components/inputs.scss';
// @import './components/select.scss';
@import './components/logo.scss';
// @import './components/modal.scss';
// @import './components/checkbox.scss';
// @import './components/pagination.scss';
@import './components/card.scss';
// @import './components/radio.scss';
// @import './components/tooltip.scss';
// @import './components/dropdown.scss';
// //
// @import './components/lots-found.scss';
// @import './components/range-slider.scss';
// @import './components/slider-nav.scss';

// @import './blocks/base/header.scss';
// @import './blocks/base/navbar.scss';
// @import './blocks/base/footer.scss';
// @import './blocks/socials.scss';
// @import './blocks/mobile-navbar-bottom.scss';
// @import './blocks/header-search.scss';
// @import './blocks/navbar-search.scss';
// @import './blocks/fav-menu.scss';
// @import './blocks/single-slider.scss';
// @import './blocks/filters.scss';

// @import './blocks/sections/ads-section.scss';
// @import './blocks/sections/description-section.scss';
// @import './blocks/sections/goods-section.scss';
// @import './blocks/sections/categories-section.scss';
// @import './blocks/sections/alphabet.scss';
// @import './blocks/sections/brands-section.scss';

// @import './blocks/sections/catalog/catalog-top.scss';

// @import './pages/index.scss';
// @import './pages/search.scss';
// @import './pages/goods.scss';
// @import './pages/categories.scss';
// @import './pages/brands.scss';
// @import './pages/lot.scss';
// @import './pages/error.scss';

// Chrome scrollbar
@include min-width('xl') {
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }

  html * {
    // Firefox scrollbar
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
  }
}

// reset

html,
body {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
  }
}

body {
  min-height: 100vh;
  // overflow: auto;
}

a {
  text-decoration: none;
  color: unset;
}

ul {
  list-style: none;
}

input,
button,
textarea,
fieldset {
  border: none;
  outline: none;
}
