.goods-section {
  &__top {
    margin-bottom: 32px;
    @include max-width('md') {
      margin-bottom: 16px;
    }
  }

  &__filters {
    margin-bottom: 60px;
    padding-bottom: 60px;
  }

  &__button--group {
    justify-self: end;
    display: flex;
  }

  &__wall {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-row-gap: 16px;
    grid-column-gap: 10px;
    margin-bottom: 16px;

    @include min-width('md') {
      margin-bottom: 32px;
    }

    @include min-width('xl') {
      margin-bottom: 72px;
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    @include min-width('xxl') {
      grid-row-gap: 88px;
      grid-column-gap: 88px;
    }
  }

  &__card-centered {
    justify-self: center;
    width: calc((((100% - 30px * 3) / 4) * 3) + 30px * 2);

    @include max-width('lg') {
      width: unset;
    }
  }

  &__bottom {
    .button--block {
      flex-direction: row-reverse;
      margin-bottom: 64px;

      @include max-width('md') {
        margin-bottom: 24px;
      }
    }
  }
}

.filter {
  position: relative;
}

.price-filter {
  &__currency-button--group {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;

    @include max-width('lg') {
      position: unset;
    }
  }

  &__currency-radio-group {
    display: none;
    gap: 32px;

    @include max-width('md') {
      display: flex;
    }
  }
}

.filter__subtitle-two {
  margin: 32px 0 23px;
}

.filters {
  position: absolute;
  z-index: 2;
  width: 80.5%;
}
