.alphabet {
  &__ltrs {
    &-subgrid {
      display: flex;
      flex-wrap: wrap;
      height: 44px;

      @include max-width('md') {
        width: calc(7 * 40px);
        justify-content: start;
        height: unset;
        margin: 0 auto;
      }
    }

    .alphabet__button {
      display: flex;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      // height: 100%;
      // aspect-ratio: 1 / 1;
      background-color: transparent;
      text-transform: capitalize;
      margin-right: 20px;

      @include max-width('md') {
        font-size: 20px;
        line-height: 24px;
        width: 40px;
        height: 40px;
      }

      &:hover {
        cursor: pointer;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__item {
    display: none;
  }
  &__item.is-visible {
    display: grid;
  }

  &__body {
    row-gap: 48px;
    padding: 56px 0;

    @include max-width('md') {
      padding: 24px 0 16px;
      gap: unset;
    }

    > div:nth-child(1),
    div:nth-child(2),
    div:nth-child(3) {
      display: grid;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 44px;
    line-height: 54px;
    padding-left: 3px;
    text-transform: uppercase;

    @include max-width('md') {
      display: flex;
      justify-content: space-between;
      font-size: 12px;
      line-height: 16px;
      padding: 12px 16px;
      @include caret;
      border-top: $border;
      border-bottom: $border;
    }
  }

  &__list {
    row-gap: 24px;

    @include max-width('md') {
      gap: unset;
    }
  }

  &__list ul {
    // display: flex;
    // flex-direction: column;
    gap: 6px;
  }

  &__list li {
    color: $input;

    &:hover {
      color: black;
    }

    @include max-width('lg') {
      overflow: hidden;

      a {
        white-space: nowrap;
      }
    }

    @include max-width('md') {
      padding: 12px 32px;

      &:not(:last-child) {
        border-bottom: $border;
      }
    }
  }

  &__more {
    display: none;

    @include max-width('md') {
      display: initial;
    }
  }

  .button--caret {
    flex-direction: row-reverse;
  }

  &__listing {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    @include min-width('sm') {
      grid-template-columns: repeat(2, 1fr);
    }

    @include min-width('md') {
      grid-template-columns: repeat(3, 1fr);
    }

    @include min-width('lg') {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
