.catalog-top {

  margin-bottom: 32px;

  &__breadcrumbs {
    margin-bottom: 24px;
  }

  .button {
    svg {
      width: 16px;
      height: 16px;
    }
  }

  .link-btn {
    margin-left: auto;
  }

  @include max-width('md') {
    justify-content: space-between;

    h2 {
      width: 100%;
    }

    .m-catalog-info {
      >span {
        flex: 1;
        gap: unset;
        justify-content: space-between;
      }

      >span::before {
        display: none;
      }
    }

    .button {
      display: none;
    }
  }
}
