.price-filter {
  &__currency {
    @include max-width('md') {
      position: static;
      padding: 0 16px;
    }
  }

  &__currency-button-group {
    display: flex;

    @include max-width('md') {
      display: none;
    }
  }

  &__currency-radio-group {
    display: none;
    gap: 32px;

    @include max-width('md') {
      display: flex;
    }
  }
}

.price-filter {
  &__currency {
  }
  &__currency-button--group {
  }
  &__currency-radio-group {
  }
}
.button {
}
.button--square {
}
.button--black {
}
.button--gray {
}
.radio {
  &__wrap {
  }
  &__label-text {
  }
}
.text-16 {
}
.filter {
  &__range-fields {
  }
  &__range-input {
  }
}
.input-group {
  &__field {
  }
}
