.brands-section {
  &__wall {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 24px;
  }

  .card--square {
    position: relative;
    padding: unset;
    box-shadow: 0px 7px 13px rgba(0, 0, 0, 0.05);

    &__img {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
    }
  }
}
